/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	background-color: lightblue;
 }
/* .div-user{
 	vertical-align: right;

 }*/
 .div-user-error {
 	color: red;
 	background-color: linen;
 	/*border: solid black 1px;*/
	overflow: hidden; 
	width: 410px;
	padding-top: 1px
 }
 #email, #password{ 	/*background-color: red;*/
 	/*width: 4em;*/
  /*float: right;*/
  text-align: center;
  margin-right: 0.5em;x
  display: block
 }
 form{
 	/*background-color: red;*/
 }




/*checking css stuff*/

.div-user{
		border: solid black 1px;
		overflow: hidden; 
		width: 410px;
		background-color:linen;
	}
.div-login{

		border: solid black 1px;
		overflow: hidden; 
		width: 410px;
		background-color:linen;

	
}
input{
  width: 20em;
  float: right;
  text-align: left;
  /*margin-right: 0.5em;*/
  display: block
}
/*tag{
	color:red;
}*/
.login-button{
	/*color:red;*/
	text-align: center;

	margin-right: 200px
	/*padding-top: 30px;*/
	/*vertical-align: right;*/
}







